<launch>
    <node pkg="localization_switch" type="localization_switch_node.py" name="localization_switch" output="screen">
        <param name="output_pose_topic" value="~pose" />
        <param name="plot_pose" value="false" />
        <param name="controller" value="{type: PriorityController, subscribers: [{type: ORBSLAM2Subscriber, timeout_reset: 5.0}, {type: PoseSubscriber, pose_topic: /pose}]}" />
    </node>
</launch>
